body{
    background-image: url('/ImersaoCss/3322781.jpg');
    font-family: Arial;
}

.menu{
    background-color: rgba(128, 128, 128, 0.212);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
